@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    @apply font-body font-light bg-gray-100 dark:bg-gray-800;
}
h1,h2{
    @apply break-words;
}
.avec-triangle:after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7em;
    width: 0;
    height: 0;
    border-top: solid 3em transparent;
    border-top-color: inherit;
    border-left: solid 7em transparent;
    border-right: solid 7em transparent;
}
header p{
    @apply pb-4
}

header a{
    @apply inline-block p-4 mt-4 mr-2 bg-white dark:bg-primary shadow-md border-blue-300 font-display text-blue-900 dark:text-gray-50 border-l-8 border-gray-300 dark:border-gray-800 transition-all duration-200;
}

header a:hover{
    @apply border-yellow-500 dark:border-red-600 text-white bg-blue-900 dark:text-gray-900 dark:bg-secondary pr-16 rounded-md;
}

header li{
    @apply inline-block
}


.markdown {
  @apply leading-relaxed font-body font-thin;
}

.markdown p,
.markdown ul,
.markdown ol {
  @apply py-2 break-words;
}

.markdown blockquote{
    @apply border-t my-2 py-2 mx-6 border-b border-blue-300 ;
}

.markdown h2 {
  @apply font-display text-3xl mt-12 mb-4 leading-snug break-words;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug break-words;
}

.markdown img{
  @apply shadow-md;
}

.markdown a{
  @apply border-dotted border-b border-gray-500 font-display;
}

.markdown a:hover{
  @apply border-transparent underline text-blue-500;
}

.markdown ul li{
    @apply list-disc mx-4	
}

.markdown h2,
.markdown h3,
.markdown a,
.markdown p,
.markdown ul li{
  @apply dark:text-white
}

.markdown pre {
  @apply dark:text-gray-100
}

.markdown blockquote p{
    @apply font-display text-blue-600  dark:text-blue-200;
}

.logo{
  background-color: white;
  -webkit-mask: url(/logo.svg) no-repeat center;
  mask: url(/logo.svg) no-repeat center;
}